<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    *ngFor Demo
  </h1>
</div>

<ul>
  <li *ngFor="let course of courses;
              index as i;
              even as isEven;
              last as isLast;
              first as isFirst;
              odd as isOdd"
            >
    {{ i }} - {{ course.name }} - 
    <span> - isEven:{{ isEven }}</span>
    <span> - isOdd:{{ isOdd }}</span>
    <span> - isFirst:{{ isFirst }}</span>
    <span> - isLast:{{ isLast }}</span>
    
    
  </li>
</ul>




